@charset "UTF-8";
* 
{
  box-sizing: border-box;
}

html, body, #map 
{ 
     width: 100%; 
     height: 100%; 
     margin: 0; 
     padding: 0; 
}
.clsGroen
{    background-color: lime;
}
.clsRood
{    background-color: red;
}

body 
{    font-family: Arial, Helvetica, sans-serif;
}

header 
{    background-color: #666;
     padding:0;
     text-align: center;
     color: white;
}

article 
{    padding: 0;
     width: 100%;
     min-height: 200px;
}

footer 
{    background-color: #777;
     padding: 0;
     color: white;
}
         
#map
{    text-align: center;
}

#status
{    position:absolute; 
     top:10px; 
     left:10px; 
     z-index:1000; 
     background-color:rgba(0, 0, 0, 0.1);
}

#tijd, #messages, #action, #error
{    text-align:center; 
     font-weight:bold; 
     margin:0; 
     padding:0;
}
