*{
  box-sizing: border-box;
}

:root{
  --main-bg-color: #197163;
  --second-color: #017c55;
  --fourth-color: #FADCAC;
  --fourth-color: #A1BC8D;
  --uitlog-color: #E0D77E;
  --fifth-color: #B0AF46; 
  --sixth-color: #BBD7B1;
  --image-color: #D9D9D9;
  --overzichtheader-color: white;
  --third-color-transparent: rgba(250, 220, 172, 0.4);
  --line-color: rgba(250, 220, 172, 0.6);
  --shadow: 0px 0px 10px 10px rgba(41, 115, 92);
  --text-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --text-style2: 'Copperplate', Helvetica, sans-serif;
  --row-height: 42px ;
}

body{
  font-family: var(--text-style);
  background-color: var(--main-bg-color);
}

.trademark{
    position: fixed;
    margin-left: 80%;
    margin-top: 9%;
    font-family: var(--text-style); 
    font-size: 13px;
    color: black;
    border: none; 

}

.uitloggen {
    position: fixed;
    margin-left: 5%;
    margin-top: 3%;
    font-family: var(--text-style); 
    font-size: 13px;
    background-color: var(--uitlog-color);
    border: none; 
    width: 15vh;
    height: 7vh;
    border-radius: 10px;
}

.inlogscherm{
  position: absolute;
  margin-left: 27%;
  margin-top: 3%;
  font-family: var(--text-style);
  font-size: 13px;
  background-color: var(--fourth-color);
  border: none;
  width: 100vh;
  height: 10vh;
  border-radius: 5px;
}

.ingelogd-als{
    position: fixed;
    margin-left: 30%;
    margin-top: 4%;
    font-family: var(--text-style); 
    font-size: 18px;
    text-align: left;
    background-color: var(--fourth-color);
    color: white; 
    border: none;
    border-radius: 0px;
}

.medewerker{
    position: fixed;
    margin-left: 38%;
    margin-top: 4%;
    font-family: var(--text-style); 
    font-size: 18px;
    text-align: center;
    background-color: var(--fifth-color);
    color: black; 
    border: solid;
    border-radius: 0px;
}

.klant{
    position: fixed;
    margin-left: 38%;
    margin-top: 4%;
    font-family: var(--text-style); 
    font-size: 18px;
    text-align: center;
    background-color: var(--fifth-color);
    color: black; 
    border: solid;
    border-radius: 0px;
}

.mijn-donkey-travel{
    position: fixed;
    margin-left: 55%;
    margin-top: 4%;
    font-family: var(--text-style); 
    font-size: 25px;
    text-align: right;
    background-color: var(--fourth-color);
    color: white; 
    border: none;
    border-radius: 0px;
}

img{
    position: fixed;
    width: 8%;
    margin-left: 80%;
    margin-top: 2%;
    background-color: var(--image-color);
    margin-bottom: 10%;
    border-radius: 50%;
    border: 2px solid black;
    

}

.klantenoverzicht {
    position: fixed;
    margin-left: 6%;
    margin-top: 12%;
    font-family: var(--text-style); 
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: var(--second-color);
    border: none; 
    width: 88%;
    height: 6vh;
    border-radius: 0px;
}

.mijn_persoonsgegevens {
    position: fixed;
    margin-left: 26%;
    margin-top: 12%;
    font-family: var(--text-style); 
    font-size: 35px;
    text-align: center;
    color: white;
    background-color: var(--second-color);
    border: none; 
    width: 48%;
    height: 6vh;
    border-radius: 0px;
}

.balk {
    position: absolute;
    margin-left: 5%;
    margin-top: 11%;
    width: 90%;
    height: 12vh;
    background-color: var(--second-color);
    border: 3px solid black;
}

.overzichtscherm{
    position: absolute;
    margin-left: 5%;
    margin-top: 16%;
    width: 90%;
    height: 50vh;
    background-color: var(--sixth-color);
    border: 3px solid black;
    box-shadow: 24px 24px 0px 24px rgba(14, 98, 82);
}

table.table1{
position: fixed;
width: 90%; 
margin-top: 16%;
height: 9%;
margin-left: 5%;
border:3px solid black; 
background-color: var(--overzichtheader-color);
}

table.table2{
position:  fixed;
width: 90%; 
margin-top: 20%;
height: 9%;
margin-left: 5%;
border:3px solid black; 
background-color: none;
}


tr.tablerow1 th{
position: relative;
text-align: center;
margin-top: 16%;
height: var(--row-height);
margin-left: 5%;
border: none; 
border-right: 1px solid black;
}

tr.tablerow2 td{
position: relative;
text-align: left;
margin-top: 20%;
height: var(--row-height);
margin-left: 5%;
border-bottom: 2px solid black;
border-right: 1px solid black;

}


table.table1-2{
position: fixed;
width: 50%; 
margin-top: 16%;
height: 9%;
margin-left: 25%;
border:3px solid black; 
background-color: var(--overzichtheader-color);
}

tr.tablerow1-2 th{
position: relative;
text-align: right;
font-family: var(--text-style2);
font-size: 30px;
margin-top: 16%;
height: var(--row-height);
margin-left: 5%;
border: none; 

}








/* * {
    box-sizing: border-box;
}

body {
    font-family: var(--text-style);
    background-color: var(--main-bg-color);
    color: white;
}

.logo{
text-align: right;
background: #04AA6D;
font-size: 20px;
}

.uitloggen {
 padding: 0px;
 text-align: left;
 background: #FADCAC;
 color: black;
 font-size: 20px;
 font-family: Helvetica, sans-serif;
}

.header {
 padding: 20px;
 text-align: center;
 background: #51B24F;
 color: white;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
}

.main {
 padding: 20px;
 text-align: left;
 background: #58B1C7;
 color: white;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
}


.aside {
 padding: 20px;
 text-align: left;
 background: #D9C419;
 color: white;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
}



.section {
 padding: 20px;
 text-align: left;
 background: #000000;
 color: white;
 font-size: 20px;
 margin-bottom: 5px;
 font-family: Arial, Helvetica, sans-serif;

}

.article {
 padding: 20px;
 text-align: left;
 background: #000000;
 color: white;
 font-size: 20px;
 margin-bottom: 5px;
 font-family: Arial, Helvetica, sans-serif;

}
.footer {
 padding: 30px; 
 width: 100%;
 text-align: left;
 background: #6C8488;
 color: white;
 font-size: 20px;
 margin-top: 5px;
 font-family: Arial, Helvetica, sans-serif ;
}



p.thicker {
  font-weight: 900;
}

.panel {
  padding: 0 32px;
  background-color: white;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mark {
 padding: 40px; 
 width: 100%;
 text-align: left;
 background: #51B24F;
 color: white;
 font-size: 20px;
 margin-bottom: 5px;
 font-family: Arial, Helvetica, sans-serif ;
}

}
*/











