*{
  box-sizing: border-box;
}

:root{
  --main-bg-color: #197163;
  --second-color: #017c55;
  --third-color: #FADCAC;
  --fourth-color:#A1BC8D;
  --fifth-color: #B0AF46; 
  --sixth-color: #BBD7B1;
  --third-color-transparent: rgba(250, 220, 172, 0.4);
  --line-color: rgba(250, 220, 172, 0.6);
  --shadow: 0px 0px 10px 10px rgba(41, 115, 92);
  --text-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  font-family: var(--text-style);
  background-color: var(--main-bg-color);
}

.uitloggen {
    position: fixed;
    margin-left: 5%;
    margin-top: 3%;
    font-family: var(--text-style); 
    font-size: 13px;
    background-color: var(--third-color);
    border: none; 
    width: 10vh;
    height: 5vh;
    border-radius: 10px;
}

.inlogscherm{
  position: absolute;
  margin-left: 27%;
  margin-top: 3%;
  font-family: var(--text-style);
  font-size: 13px;
  background-color: var(--fourth-color);
  border: none;
  width: 100vh;
  height: 10vh;
  border-radius: 5px;
}

.ingelogd-als{
    position: fixed;
    margin-left: 30%;
    margin-top: 4%;
    font-family: var(--text-style); 
    font-size: 18px;
    text-align: left;
    background-color: var(--fourth-color);
    color: white; 
    border: none;
    border-radius: 0px;
}

.medewerker{
    position: fixed;
    margin-left: 38%;
    margin-top: 4%;
    font-family: var(--text-style); 
    font-size: 18px;
    text-align: center;
    background-color: var(--fifth-color);
    color: black; 
    border: solid;
    border-radius: 0px;
}

.mijn-donkey-travel{
    position: fixed;
    margin-left: 55%;
    margin-top: 4%;
    font-family: var(--text-style); 
    font-size: 25px;
    text-align: right;
    background-color: var(--fourth-color);
    color: white; 
    border: none;
    border-radius: 0px;
}

.klantenoverzicht {
    position: fixed;
    margin-left: 6%;
    margin-top: 12%;
    font-family: var(--text-style); 
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: var(--second-color);
    border: none; 
    width: 88%;
    height: 6vh;
    border-radius: 0px;
}


.balk {
    position: absolute;
    margin-left: 5%;
    margin-top: 11%;
    width: 90%;
    height: 12vh;
    background-color: var(--second-color);
    border: solid;
}

.overzichtscherm{
    position: absolute;
    margin-left: 5%;
    margin-top: 16%;
    width: 90%;
    height: 50vh;
    background-color: var(--sixth-color);
    border: solid;
    box-shadow: 24px 24px 0px 24px rgba(14, 98, 82);
}

table, th, td {
margin-top: 30px;
border:1px solid black;


}








/* * {
    box-sizing: border-box;
}

body {
    font-family: var(--text-style);
    background-color: var(--main-bg-color);
    color: white;
}

.logo{
text-align: right;
background: #04AA6D;
font-size: 20px;
}

.uitloggen {
 padding: 0px;
 text-align: left;
 background: #FADCAC;
 color: black;
 font-size: 20px;
 font-family: Helvetica, sans-serif;
}

.header {
 padding: 20px;
 text-align: center;
 background: #51B24F;
 color: white;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
}

.main {
 padding: 20px;
 text-align: left;
 background: #58B1C7;
 color: white;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
}


.aside {
 padding: 20px;
 text-align: left;
 background: #D9C419;
 color: white;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
}



.section {
 padding: 20px;
 text-align: left;
 background: #000000;
 color: white;
 font-size: 20px;
 margin-bottom: 5px;
 font-family: Arial, Helvetica, sans-serif;

}

.article {
 padding: 20px;
 text-align: left;
 background: #000000;
 color: white;
 font-size: 20px;
 margin-bottom: 5px;
 font-family: Arial, Helvetica, sans-serif;

}
.footer {
 padding: 30px; 
 width: 100%;
 text-align: left;
 background: #6C8488;
 color: white;
 font-size: 20px;
 margin-top: 5px;
 font-family: Arial, Helvetica, sans-serif ;
}



p.thicker {
  font-weight: 900;
}

.panel {
  padding: 0 32px;
  background-color: white;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mark {
 padding: 40px; 
 width: 100%;
 text-align: left;
 background: #51B24F;
 color: white;
 font-size: 20px;
 margin-bottom: 5px;
 font-family: Arial, Helvetica, sans-serif ;
}

}
*/











